*
{
    margin: 0px;
    padding: 0px;
}
body
{
    background-color:rgb(138, 123, 105);
}
#navbar
{
    padding: 40px;
    background-color:rgb(161, 139, 139);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#navbar ul
{
    list-style-type: none;
}
#navbar a
{
    text-decoration: none;
    color: brown;
}
#navbar a:hover
{
    text-decoration: none;
    color: rgb(1, 99, 45);   
}
#navbar li
{
    font-size: 25px;
    padding: 40px;
    display: inline;
}
.landing-page
{
    display: flex;
    align-items: center;
    background-color: rgb(94, 77, 61);
    background-image: url('images/coder.png');
    height: 70vh;
}

.landing-page .left
{
    text-align:left;
    width: 50%;
}
.landing-page img
{
    display:block;
    margin:0 auto;
    margin-left: 40%;
    width: 25%;
    height:35%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 40%;
    border-radius: 50%;

}
.landing-page .right
{
    font-size: 30px;
    color:rgb(9, 110, 9);
    width: 50%;
}
.right span {
    color: rgb(177, 88, 15);

}
.right h1
{
    font-size: 40px;
}
.right p
{
    font-size: 20px;
}
#about {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:25px;
    display:flex;
    align-items: center;
}
footer
{
    padding: 40px;
    background-color: rgb(66, 46, 18);
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}
footer .left
{
    color: rgb(208, 233, 206);
    width: 33%;
    font-size: 25px;
}
footer .center
{
    color: rgb(237, 250, 236);
    width: 33%;
    font-size: 25px;
}
footer .right
{
    color: rgb(237, 250, 236);
    width: 33%;
    font-size: 25px;
}
footer p
{
    margin-top: 20px;
}